language: node_js
node_js:
  - 13

services:
  - docker

# Pre-testing installs
install:
  - echo "nothing needs to be installed"

# Scripts to be run such as tests
before_script:
  - echo "no tests"

script:
  - docker --version # print the version for logging
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-reverseproxy ./udagram-reverseproxy
  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-api-user brytey2k/udagram-api-user:v5
  - docker tag udagram-api-feed brytey2k/udagram-api-feed:v5
  - docker tag udagram-frontend brytey2k/udagram-frontend:v7
  - docker tag udagram-reverseproxy brytey2k/udagram-reverseproxy:v5

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push brytey2k/udagram-api-user:v5
  - docker push brytey2k/udagram-api-feed:v5
  - docker push brytey2k/udagram-frontend:v7
  - docker push brytey2k/udagram-reverseproxy:v5
